<!--View associated to listBaskets action of MainController controller -->
<h1>Mes paniers</h1>
<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid inverted menu">
            {% for basket in baskets %}
            <a href="{{ path('basket', [basket.id]) }}" class="ui item"> {{ basket.name }}
                <span class="ui teal left pointing label"> {{ basket.basketdetails|length }}</span>
            </a>
            {% endfor %}
            <br>
        </div>
    </div>
    <div class="ui grid ">
        <div class="ui wide column">
            <div class="ui top attached header">Mon Panier actuel</div>
            <div class="ui attached segment">
                <ul>
                    {% for prod in products %}
                    <div class="ui list">
                        <i class="angle double right icon"></i>
                        <span>{{ prod.product.name }}</span>
                        <span>{{ prod.quantity }}</span>
                    </div>
                    {% endfor %}
                </ul>
            </div>
            <div class="ui segment">
                <div claas="ui segment" id="toUpdate">
                    <div class="ui list">
                        <p>Quantité : {{ quantity }}</p>
                        <p>Réduction : {{ totalDiscount }}</p>
                        <p>Prix total : {{ fullPrice }} €</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>