<!--View associated to recap action of MainController controller -->
<h1>Mon panier</h1>
<div class="ui segment">
<table class="ui table ">
    <thead>
    <tr>
        <th>Produit</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Montant</th>
    </tr>
    </thead>
    <tbody>
    <form action="{{ path('confirmQuantity')}}" method="post">
        {% for prod in products %}
        <tr>
            <td data-label="Produit">
                <i class="angle double right icon"></i>
                <span>{{ prod.product.name }}</span>
            </td>
            <td data-label="Prix">
                <p>{{ prod.product.price }}</p>
            </td>
            <td data-label="Quantité">
                <p class="ui label" name="quantity[]">{{ prod.quantity }}</p>
            </td>
            <td data-label="Montant">
                {{ prod.product.price }} <!-- ajax: modif in real time {{ prod.product.price }} * {{ prod.quantity }}-->
            </td>
        </tr>
        {% endfor %}
    </form>
    </tbody>
</table>
</div>
<div class="ui segment">
    <div class="ui segment">
        <div class="ui list">
            <p>Quantité : {{ quantity }}</p>
            <p>Réduction : {{ totalDiscount }}</p>
            <p>Prix total : {{ fullPrice }} €</p>
        </div>
    </div>
</div>
<div class="ui segment">
    <div class="ui segment">
        <h4>Votre date et heure de retrait : </h4>
        {{slot.getSlotDate}}
    </div>
</div>
<div class="ui segment">
    <h2>Merci pour votre commande ! N'oubliez pas la date et l'heure du rendez-vous ! A très bientôt !</h2>
</div><br>
<a href="{{ path('store')}}" class="ui button right floated">Retour à l'accueil</a>

